<header class="header-light">
    <div class="left-div">

    </div>

    <div class="title-div">
        <img class="icon-light icon-title" src="assets/icon_darkmode.svg" alt="Ícone modo escuro">
        <p class="title">DAUPHIN</p>
    </div>

    <div class="buttons-div">
        <button class="icon-button">
            <img class="icon-light header-buttons" src="assets/buttons/profile.svg">
        </button>
        
        <button class="icon-button">
            <img class="icon header-buttons" src="assets/buttons/logout.svg">
        </button>
    </div>
</header>

